/* Light mode */
@media (prefers-color-scheme: light) {
    html {
        content: "light";
        --theme-bgColor: #fafafa;
        --tip-color: #595959;
        --font-color: #000;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    html {
        content: "dark";
        --theme-bgColor: #363b40;
        --tip-color: #99978a;
        --font-color: #d8d7d3;
    }
}

html {
    --green-btn: #1abc9c;
    --green-btn-hover: #16a085;
    --red-btn: #e74c3c;
    --red-btn-hover: #c0392b;
    --blue-btn: #3498db;
    --blue-btn-hover: #2980b9;
    --orange-btn: #e67e22;
    --orange-btn-hover: #d35400;
    background-color: var(--theme-bgColor);
    color: var(--font-color);
}

.shadow-input {
    box-shadow: 0 0 1px 1px var(--tip-color);
}

.transition {
    transition: 1s;
}

.btn {
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: calc(50% - 50px);
}

.home-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    margin: 8px;
    left: 0;
    background-image: url('home.png');
    background-size: contain;
    z-index: 4;
}

.setting-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    margin: 8px;
    right: 0;
    background-image: url('setting.png');
    background-size: contain;
    z-index: 4;
}


/* 设置面板 */
.setting-frame {
    position: fixed;
    width: 280px;
    height: 100%;
    right: 0;
    background: var(--theme-bgColor);
    z-index: 3;
    box-shadow: 5px 0 5px 5px var(--tip-color);
    display: none;
}

.setting-frame ul {
    list-style: none;
    line-height: 50px;
    position: absolute;
    right: 55px;
    top: 20px;
    font-size: large;
}

.setting-frame ul li {
    width: 195px;
    height: 51px;
    font-weight: bold;
    padding-left: 10px;
    border-bottom: 1px solid #595959;
}

.setting-frame ul li .in {
    vertical-align: middle;
    width: 45px;
    border: none;
    outline: none;
    margin-left: 8px;
    padding: 2px;
    margin-right: 5px;
    color: var(--font-color);
    background: var(--theme-bgColor);
}

.setting-frame ul li #theme-input {
    width: 70px;
    margin-right: 2px;
    font-weight: bold;
}

.setting-frame ul #theme-show-li #open-theme-file {
    width: 37px;
    height: 20px;
    vertical-align: middle;
    font-size: 10px;
    font-weight: bold;
    border: 1px solid var(--font-color);
    outline: none;
    color: var(--font-color);
    background: var(--theme-bgColor);
}

.setting-frame ul #theme-show-li #open-theme-file:hover {
    background: var(--font-color);
    color: var(--theme-bgColor);
}

.setting-frame ul #mode-li .mode-title {
    margin-right: 5px;
}

.setting-frame ul #mode-li .timer-mode {
    font-size: 13px;
}

.setting-frame ul #mode-li .timer-mode input {
    width: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
}

.setting-frame .save-btn {
    bottom: 18px;
    left: 30px;
    width: 80px;
    background: var(--green-btn);
}

.setting-frame .save-btn:hover {
    background: var(--green-btn-hover);
}

.setting-frame .cancel-btn {
    bottom: 18px;
    left: 130px;
    width: 80px;
    background-color: var(--red-btn);
}

.setting-frame .cancel-btn:hover {
    background: var(--red-btn-hover);
}

.tip {
    font-size: large;
    font-weight: bold;
    height: 65px;
    text-align: center;
    width: 500px;
    position: absolute;
    left: calc(50% - 250px);
    top: 80px;
    color: var(--tip-color);
}


/* 首界面 */
.first .tip {
    font-size: x-large;
    top: 140px;
}

.first .work-btn {
    background: var(--green-btn);
    top: calc(50% - 60px);
}

.first .work-btn:hover {
    background: var(--green-btn-hover);
}

.first .rest-btn {
    background: var(--blue-btn);
    top: calc(50% - 15px);
}

.first .rest-btn:hover {
    background: var(--blue-btn-hover);
}


/* 倒计时界面 */
.second {
    display: none;
}

.second .title {
    width: 100px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    top: 150px;
    left: calc(50% - 50px);
}

.second .timer {
    width: 300px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    position: absolute;
    top: 180px;
    left: calc(50% - 150px);
    font-size: 60px;
}

.second .task-btn {
    background: var(--green-btn);
    top: 310px;
    display: none;
}

.second .task-btn:hover {
    background: var(--green-btn-hover);
}

.second .pause-btn {
    background: var(--orange-btn);
    top: 310px;
}

.second .pause-btn:hover {
    background: var(--orange-btn-hover);
}