/* Light mode */
@media (prefers-color-scheme: light) {
    html {
        content: "light";
        background-color: #87CE00;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    html {
        content: "dark";
        background-color: #87CEAA;
    }
}

.btn {
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: calc(50% - 50px);
}

.home-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    margin: 8px;
    left: 0;
    /* background: red; */
    background-image: url('home.png');
    background-size: contain;
    z-index: 4;
}

.setting-btn {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    margin: 8px;
    right: 0;
    /* background: red; */
    background-image: url('setting.png');
    background-size: contain;
    z-index: 4;
}


/* 设置面板 */
.setting-frame {
    position: fixed;
    width: 280px;
    height: 100%;
    right: 0;
    background: #d9d9d9;
    z-index: 3;
    display: none;
}

.setting-frame ul {
    /* background: yellow; */
    list-style: none;
    line-height: 50px;
    position: absolute;
    right: 55px;
    top: 20px;
    font-size: large;
}

.setting-frame ul li {
    width: 195px;
    height: 51px;
    font-weight: bold;
    /* background-color: yellowgreen; */
    /*padding-right: 10px;*/
    padding-left: 10px;
    border-bottom: 1px solid #595959;
}

.setting-frame ul li .in {
    vertical-align: middle;
    width: 45px;
    border: none;
    outline: none;
    margin-left: 8px;
    padding: 2px;
    margin-right: 5px;
}

.setting-frame ul li #theme-input {
    width: 70px;
    margin-right: 2px;
    font-weight: bold;
}

.setting-frame ul #theme-show-li #open-theme-file {
    width: 35px;
    height: 20px;
    font-size: 11px;
}

.setting-frame ul #mode-li .mode-title {
    margin-right: 5px;
}

.setting-frame ul #mode-li .timer-mode {
    font-size: 13px;
    /* background: yellow; */
}

.setting-frame ul #mode-li .timer-mode input {
    width: 20px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
}

.setting-frame .save-btn {
    bottom: 18px;
    left: 30px;
    width: 80px;
    background: #1abc9c;
}

.setting-frame .save-btn:hover {
    background: #16a085;
}

.setting-frame .cancel-btn {
    bottom: 18px;
    left: 130px;
    width: 80px;
    background-color: #e74c3c;
}

.setting-frame .cancel-btn:hover {
    background: #c0392b;
}

.tip {
    font-size: large;
    font-weight: bold;
    height: 65px;
    text-align: center;
    width: 500px;
    position: absolute;
    left: calc(50% - 250px);
    top: 80px;
    color: #595959;
    /*background: #595959;*/
}


/* 首界面 */
.first .tip {
    font-size: x-large;
    top: 140px;
    color: #262626;
}

.first .work-btn {
    background: #1abc9c;
    top: calc(50% - 60px);
}

.first .work-btn:hover {
    background: #16a085;
}

.first .rest-btn {
    background: #3498db;
    top: calc(50% - 15px);
}

.first .rest-btn:hover {
    background: #2980b9;
}


/* 倒计时界面 */
.second {
    display: none;
}

.second .title {
    width: 100px;
    height: 40px;
    /* background: red; */
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    font-size: x-large;
    font-weight: bold;
    position: absolute;
    top: 150px;
    left: calc(50% - 50px);
}

.second .timer {
    width: 300px;
    height: 100px;
    /* background: blue; */
    text-align: center;
    line-height: 100px;
    position: absolute;
    top: 180px;
    left: calc(50% - 150px);
    /* line-height: 280px; */
    font-size: 60px;
}

.second .task-btn {
    background: #1abc9c;
    top: 310px;
    display: none;
}

.second .task-btn:hover {
    background: #16a085;
}

.second .pause-btn {
    /* background: #3498db; */
    background: #e67e22;
    top: 310px;
}

.second .pause-btn:hover {
    /* background: #2980b9; */
    background: #d35400;
}